*{
    
    font-family: 'Spectral', serif;
    margin: 0;
}

header{
    padding: 0 1em;
    margin-top: 30px;
    margin-bottom: 30px;
}

header h1{
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    color: rgb(223, 172, 105);
    
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
    list-style: none;

}

nav li{
    display: inline-block;
    
    
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(223, 172, 105);
    letter-spacing: 5px;
    padding: 20px;
    

    
}

nav a:hover{
    color: rgb(136, 84, 15);
}

.insta{
  font-size: 25px;
}

.parallax {
    /* The image used */
    background-image: url(../img/aline.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.box1{

        /* The image used */
        background-image: url(../img/wall1.jfif);
        transform: rotate();
      
        /* Set a specific height */
        min-height: 500px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.centro{
    
    width: 40%;
    padding: 10px;
    height: 800px;
    background-color: a rgb(255, 243, 231);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    border: 2px solid transparent;
    border-radius: 50px;
    
}

.centro h2{
    font-size: 16px;
    text-align: center;
    z-index: 4;
    top: 300px;
    position: absolute;


    
}


.white img{
    height: 450px;
    width: 300px;
    z-index: 2;
    position: absolute;
    left: 150px;
    bottom: 250px;
    border: 2px solid transparent;
    border-radius: 50px;
    transform: rotate(3deg);
  
}

.sidewhite img{
    height: 450px;
    width: 300px;
    position: absolute;
    left: 360px;
    bottom: 200px;
    z-index: 3;
    border: 2px solid transparent;
    border-radius: 50px;
    transform: rotate(-3deg);
    
}

.seta img{
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 4;
    top: 400px;
    right: 30px;
    transform: scaleX(-1);
    
}

footer{
    position: relative;
    
    
}

.parallax2 {
    /* The image used */
    background-image: url(../img/aline3.jfif);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.map h3{
    color: white;
    background: rgb(204, 169, 125);
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    
    
        
}

footer footer{
    text-align: center;
    color: white;
}

.redesdir{
    position: absolute;
    right: 100px;
    top: 30px;
    right: 30px;
}

.redesdir li{
    list-style: none;
}

.redesdir li a{
    color: white;
    font-size: 26px;
    text-decoration: none;
    
}

.whatsapp{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 110px;
    padding: 10px;
    z-index: 10000000;}
 